$screen-desktop: 2;
@while $screen-desktop > 0.6 {
  @media screen and (max-width: (1366px * $screen-desktop)) {
    body {
      font-size: 10px * $screen-desktop;
    }
  }
  $screen-desktop: $screen-desktop - 0.2;
}

$y: 1;
$screen-mobile-medium: 1;
@while $screen-mobile-medium > 0.5 {
  @media screen and (max-width: (820px * $screen-mobile-medium)) {
    body {
      font-size: 9px * $screen-mobile-medium;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5 {
      line-height: 1.4;
    }
    .p {
      font-size: 1.5em;
      font-weight: 700;
    }
    .container {
      .header, 
      .main .content {
        padding: 0 (6% * $y);
      }
    }
  }
  $screen-mobile-medium: $screen-mobile-medium - 0.1;
  $y: $y - 0.12;
}

$screen-mobile-small: 1;
$j: 1;
@while $screen-mobile-small > 0.5 {
  @media screen and (max-width: (450px * $screen-mobile-small)) {
    body {
      font-size: 9px * $screen-mobile-small;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5 {
      line-height: 1.2;
    }
    .container {
      & .header {
        padding: 0 (3% * $j);
      }
    }
  }
  $j: $j - 0.1;
  $screen-mobile-small: $screen-mobile-small - 0.1;
}
// @media screen and (max-width: 820px) {
//   .container{
//     .main {
//       .content {
//       }
//     }
//   }
// }
